# Virtual environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Scraped Data & Database
all_jobs_combined.csv
relevant_jobs.csv
job_tracker.db
job_history/


# OS metadata
.DS_Store
Thumbs.db
